aclocal.m4
.anjuta
.anjuta_sym_db.db
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
intltool-*.in
libgnomekbd.pc
libgnomekbdui.pc
libtool
ltmain.sh
m4/*.m4
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
*~
