.deps
desktop_gnome_peripherals_keyboard_xkb.schemas
*.la
.libs
*.lo
*.gschema.valid
Makefile
Makefile.in
*marshal.c
*marshal.h
*.o
org.gnome.libgnomekbd.*gschema.xml
org.gnome.libgnomekbd.*gschema.xml.in
gkbd-keyboard-display

